.outer{width: 800px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    font-family: 微软雅黑;
}
.outer :after {content: ".";display: block;height: 0;visibility: hidden;}
.left{ width: 350px;height:200px; background-color: blue;}

.right{ width:350px;height:300px;background-color: red;}
.clear{clear:both}